@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    overscroll-behavior: none;
  }

  body {
    font-size: 16px;
    background-color: #f9fafb;
  }
}
